extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center-mb-5 Sobre Nosotros
        .row
            .col-md-6

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et erat cursus, ultrices lorem a, venenatis enim. Nam in enim non metus semper sagittis. Praesent nunc mi, molestie vel erat at, congue volutpat diam. Mauris eget lectus a purus congue consequat ac fringilla neque. In hac habitasse platea dictumst. Praesent at pretium tortor, at blandit purus. Curabitur quis ipsum sed justo rutrum facilisis. 
                p Proin dictum vel lectus in sollicitudin. Phasellus at nunc justo. Praesent volutpat est nec tellus vestibulum fermentum. Suspendisse metus ligula, euismod et consequat a, ultrices hendrerit urna. Etiam vitae quam a erat congue luctus at a quam. 

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nostros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2023 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales

        
        
