extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet magna augue.

                p Aenean tempor sagittis ligula, in finibus nulla semper vel. Nunc quis dolor libero. Nunc id hendrerit ante. Phasellus at tortor a odio vestibulum vestibulum eu ut nibh. Integer non tincidunt risus, in fringilla justo. Etiam sodales risus a tortor hendrerit, a bibendum augue scelerisque. Donec mauris velit, volutpat id mauris vitae, elementum placerat augue. Nullam efficitur enim vitae dolor tristique, non tincidunt nulla laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac vulputate orci. Donec vehicula efficitur lectus in mattis. Ut vulputate nulla nisl, ut eleifend orci mollis eu. Quisque malesuada nisl a lectus efficitur congue. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                p Maecenas interdum ullamcorper nisl, facilisis vehicula augue sollicitudin vitae. Praesent condimentum ipsum a lectus commodo, ut imperdiet sem ullamcorper. Donec egestas consectetur tortor, at vehicula arcu convallis a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eros ante, semper et ante sit amet, consectetur aliquet mauris. Integer non libero et mauris laoreet laoreet. Nulla pharetra sem vel imperdiet cursus. Maecenas malesuada consectetur vehicula. Praesent at dapibus risus. In a auctor diam, vel commodo urna. Duis purus nibh, feugiat et est vitae, lacinia faucibus tellus. Maecenas tellus nisi, aliquet et dolor et, tempus tincidunt erat. Fusce ipsum leo, tincidunt sed quam a, dignissim eleifend lacus. Nulla ante eros, consectetur sed tellus non, auctor molestie turpis.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p dignissim eleifend lacus. Nulla ante eros, consectetur sed tellus non, auctor molestie turpis.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p dignissim eleifend lacus. Nulla ante eros, consectetur sed tellus non, auctor molestie turpis.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p dignissim eleifend lacus. Nulla ante eros, consectetur sed tellus non, auctor molestie turpis.


                    